<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /gestion-natacion-grupo1/

    # Si piden la raíz pelada, ir a public/
    RewriteRule ^$ public/index.php [L]

    # Si piden cualquier otra cosa que no sea un archivo real, ir a public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>